backend:
  name: github
  repo: emonsaqibh/Repapers-2.0
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "content"
    label: "Content Management"
    files:
      - label: "Categories"
        name: "categories"
        file: "public/categories.json"
        fields:
          - label: "Category List"
            name: "categories"
            widget: "list"
            fields:
              - {name: id, label: ID, widget: string}
              - {name: name, label: Name, widget: string}

      - label: "Wallpapers"
        name: "wallpapers"
        file: "public/wallpapers.json"
        fields:
          - label: "Wallpaper List"
            name: "wallpapers"
            widget: "list"
            fields:
              - {name: id, label: ID, widget: string}
              - {name: thumbnail, label: "Thumbnail Image (Low Resolution)", widget: image}
              - {name: title, label: Title, widget: string}
              - name: author
                label: Author
                widget: object
                fields:
                  - {name: name, label: "Author Name", widget: string}
                  - {name: title, label: "Author Title", widget: string}
              
              # --- THIS FIELD HAS BEEN UPDATED ---
              - name: categories # Renamed from 'category'
                label: Categories # Renamed from 'Category'
                widget: relation
                collection: "content"
                file: "categories"
                multiple: true # This enables multi-select
                searchFields: ["categories.*.name"]
                valueField: "categories.*.id"
                displayFields: ["categories.*.name"]

              - {name: tags, label: Tags, widget: list}
              - name: download_options
                label: "Download Options (High Resolution)"
                widget: list
                fields:
                  - {name: resolution, label: Resolution, widget: select, options: ["10ùíë", "2K", "4K", "8K", "Mobile"]}
                  - {name: path, label: "File (Upload Here)", widget: image}
